[user]
	name = Ben Butler-Cole
	email = ben@bridesmere.com
[color]
	ui = true
[alias]
        d = diff --color-words='[[:alnum:]]|[^[:space:]]'
        rs = log master --not review --pretty=format:'%h %Cred%an%Creset %s' --reverse --topo-order
        rl = log master --not review --patch --stat --reverse --topo-order --decorate
        rp = push self master:review
[branch]
        autosetuprebase = always
